{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class="card border-secondary mt-4 box_shadow mx-auto" style="width: 22rem;">
  <div class="card-header bg-secondary text-white text-center">
      <b>Login do sistema</b>
  </div>
  <div class="card-body">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-sm border-dark float-right" type="submit">Login</button>
    </form>
  </div>
</div>

{% endblock %}